{% extends 'common/backTemplate.php.twig' %}

{% block title %}

    <title>CoyoTech | Administration</title>

{% endblock %}

{% block head %}

    {{parent()}}

{% endblock %}

{% block header %}

        {{parent()}}
	

{% endblock %}

{% block content %}


{% endblock %}

{% block footer %}

    {{parent()}}

{% endblock %}

{% block scripts %}

    {{parent()}}
    
{% endblock %}