<?php
session_start();
?>
<!DOCTYPE html>
<html>
     {% block head %}
     
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    {% block title %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/blog-mvc/assets/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/blog-mvc/assets/images/favicon.png">
		<script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    </head>
     
     {% endblock %}
<body class="bg-body" style="background-image: url(/blog-mvc/assets/images/admin-bg.png);">
     {% block header %}
     
        <header>
		 <nav class="navbar fixed-top navbar-expand-lg navbar-bg mb-5">
  			<a class="navbar-brand navbar-title-admin" href="/blog-mvc/article/admin/">Coyo<span>Tech</span></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse admin-nav-div" id="navbarNavDropdown">
    			<ul class="navbar-nav">
      				{% if session.role == 'Administrator' %}
					  <li class="nav-item dropdown {% if pageTitle == 'BackArticles' %} : active{% endif %}">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          				<a class="dropdown-item" href="/blog-mvc/Article/add/">Ajouter un article</a>
          				<a class="dropdown-item" href="/blog-mvc/Article/admin">Liste des articles</a>
        				</div>
      				</li>
      				<li class="nav-item dropdown {% if pageTitle == 'Comments' %} : active{% endif %}">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commentaires</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          				<a class="dropdown-item" href="/blog-mvc/Comment/">Liste des commentaires</a>
        				</div>
      				</li>
      				<li class="nav-item dropdown {% if pageTitle == 'Users' %} : active{% endif %}">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          				<a class="dropdown-item" href="/blog-mvc/User/add/">Ajouter un utilisateur</a>
          				<a class="dropdown-item" href="/blog-mvc/User/">Liste des utilisateurs</a>
        				</div>
      				</li>
					{% else %}
					<li class="nav-item dropdown {% if pageTitle == 'BackArticles' %} : active{% endif %}">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          				<a class="dropdown-item" href="/blog-mvc/Article/add/">Ajouter un article</a>
          				<a class="dropdown-item" href="/blog-mvc/Article/admin">Liste des articles</a>
        				</div>
      				</li>
					{% endif %}
					  
    			</ul>
          		<ul class="logout-ul">
            		<li>
              		<a href="/blog-mvc/user/logout"><img src="/blog-mvc/assets/images/log-out-icon.png" class="logout-icon" alt="Log-out icon" title="Se déconnecter"></a>
            		</li>
            		<li>
              		<p class="connected-user" >Connecté(e) : {{ session.first_name }} {{ session.last_name }}</p>
            		</li>
          		</ul>
  			</div>
		</nav>
	</header>
     
     {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    
    <footer class="footer mt-auto py-3 bg-footer">
		<div class="container footer-container">
  			<p>Coyo<span>Tech</span></p>
  			<a class="site-link" href="/blog-mvc/">Retour sur le site</a>
		</div>
	</footer>

    {% endblock %}	

    {% block scripts %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    {% endblock %}
        
    </body>
</html>